@font-face {
	src: url('../fonts/Signika/Signika-VariableFont_wght.ttf');
	font-family: "Signika";
}

:root {
	--primary-color: #f7d82e;
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: 'Signika', sans-serif;
	transition: all .3s;
	box-shadow: none;
	border: none;
}

html {
	overflow-x: hidden !important;
	box-sizing: border-box;
	color: #333;
	max-width: 100vw;
}

section {
	overflow-x: hidden;
}

::selection {
	background-color: #272727;
	color: #eee;
}

.heading {
	text-align: center;
	padding: 1rem;
	color: #333;
	text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
	font-size: 3rem;
	padding-top: 4rem;
}

.heading i {
	padding: 0 .5rem;
	color: var(--primary-color);
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: .4rem 1.2rem;
	font-size: 1.2rem;
	border-radius: .5rem;
	background: var(--primary-color);
	color: #333;
	position: relative;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
	overflow: hidden;
	z-index: 1;
	border: none;
}

.btn:hover {
	color: var(--primary-color);
}

.btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	clip-path: polygon(0 0, 100% 0, 10% 25%, 0 100%);
	z-index: -1;
	background: #444;
	transition: .3s cubic-bezier(.38, 1.15, .7, 1.12);
}

.btn:hover::before {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.pricing-card-title {
	color: red;
	border: .2px solid #ccc;
	border-radius: 5px;
}

h1, h2, h3, h4, h4, p, span {
	cursor: default;
}

input, select, textarea {
	box-shadow: none !important;
	outline: none !important;
}

input:focus, select:focus, textarea:focus {
	border-color: var(--primary-color) !important;
}

.crop-text-1 {
	-webkit-line-clamp: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.crop-text-2 {
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}